body {
    background-color: #ffd9b3;
}
.container {
    width: 90%;
    margin: 0 auto;
}

.header, .title, .btn {
    font-family: 'Viga', sans-serif;
    text-align: center;
    color: #4d0f00;
}

.hw_wrapper {
display: flex;
justify-content: space-around;
flex-wrap: wrap;
}

.item {
    width: 200px;
    margin: 15px;
    background-color: #ffbf80;
    border-radius: 10px;
    padding: 0 10px;
}

.btn {
  background-color: #ff944d;
  border: 0;
  width: 100px;
  margin: 0 50px;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;
}

.btn:hover {
    transform: scale(1.1);
    transition: all 0.3s;
}